body {
    background-color: #0F1111;
}
* {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    padding: 0px;
    color: #fff;
}
h1 {
    font-family: 'Playfair Display', sans-serif;
    margin: 0 0 2rem 0;
    font-size: 3rem;
}
ul{
    list-style: none;
}
.submenu {
    position: relative;
}
.submenu #carrito {
    display: none;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 400px;
    min-width: 300px;
}
.titulo {
    text-align: center;
    margin-top: 5rem;
}


/*nav start*/

/*nav*/
.nombre-sitio {
    margin-left: 1rem;
    color: #dedfe3;
    text-align: center;
    cursor: default;
}

.nombre-sitio span {
    color: #F5EA07;

}

.nav-principal {
    padding: 2rem 1rem;

}

.nav-principal a {
    text-decoration: none;
    position: relative;
    color: #dedfe3;
    margin: 0 50px 0 100px;
    transition: .8s;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-principal a:hover {
    margin-right: 1rem;
    padding: 10px 5px;
    border-bottom: 25px;
    color: red;
}

.nav-principal a::after {
    content: "";
    position: absolute;
    background-color: #f5f235;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.nav-principal a:hover::after {
    width: 100%;
    border-radius: 10px;
}

#menu {
    position: absolute;
    padding: 1rem 0 0 2rem;
    visibility: hidden;
}

input#menu {
    visibility: hidden;
}

@media screen and (max-width: 1000px) {
    #menu {
        visibility: visible;
        position: relative;
    }

    header {
        flex-direction: row-reverse;
        border: none;
    }

    .title {
        visibility: hidden;
    }

    .contenedor-navegacion {
        padding-top: 1rem;
        border-top: none;
    }

    .slider h1 {
        padding: 0;
    }

    .nav-principal {
        background-color: #0F1111;
        width: 100%;
        list-style: none;
        height: 100vh;
        position: absolute;
        right: 100%;
        transition: all 300ms linear;
        z-index: 2;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .nav-principal a {
        color: #fff;
        border-bottom: 1px solid #fff;

    }

    input#exit:checked ul {
        left: 100%;
    }

    input#menu:checked~ul {
        right: 0;
    }

}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 2.5rem;
    }
}

/* nav end*/

.cuerpo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.img {
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    margin: 10px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.img img {
    width: 100%;
    transition: all 500ms ease-out;
}

.texto {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(66, 70, 71, 0.7);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    color: #e1e1e1;
    padding-top: 10rem;
}

.texto p {
    padding-bottom: 2rem;
}

.img:hover>.texto {
    opacity: 1;
    visibility: visible;
}

@media (max-width:768px) {
    .cuerpo {
        flex-direction: column;
        height: auto;
        position: relative;
    }
}

/*cuerpo 2.0*/
.img1 {
    background-image: url(../img/batman.jpg);
    background-size: cover;
    display: none;
}

/* redes */
/*redes*/
.redes {
    margin: 3rem;
    display: flex;
    justify-content: space-evenly;
}

.redes a {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #314652;
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: all .4s ease-in-out;
}

.redes a:hover {
    transform: scale(1.2);
}

.fa-facebook:hover {
    background: rgba(0, 47, 255, 0.473);
}

.fa-twitter:hover {
    background: rgb(0, 119, 255);
}

.fa-instagram:hover {
    background: linear-gradient(50deg, darkorange, crimson);
}

footer {
    height: 100%;
    padding: 2rem;
    text-align: center;
}

footer h3 {
    color: rgb(99, 90, 90);
}

footer span {
    color: #929067;
}