*{
    font-family: 'Raleway',sans-serif;
    margin: 0px;
    padding: 0px;
}
/*globales*/
h1{
    font-family: 'Playfair Display', sans-serif;
    margin: 0 0 2rem 0;
    font-size: 3rem;
}
a{
    text-decoration: none;
    color: #000;
}
body{
    display: block;
}
/*nav*/
.nombre-sitio{
    margin-top: 5rem;
    text-align: center;
    cursor: default;
}
.nombre-sitio span{
    color: #F5EA07;
    
}
.contenedor-navegacion{
    border-bottom: .1rem solid #e1e1e1;
}
.nav-principal{
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around
}
.nav-principal a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.527);
    position: relative;
    margin: 0 50px 0 100px;
    transition: .8s ;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-principal a:hover{
    padding: 10px 5px;
    border-bottom: 25px;
    color: red;
}
.nav-principal a::after{
    content: "";
    position: absolute;
    background-color: #f5f235;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.5s ;
}
.nav-principal a:hover::after{
    width: 100%;
    border-radius: 10px;
}
#menu {
    position: absolute;
    padding: 1rem 0 0 2rem;
    visibility: hidden;
}

input#menu {
    visibility: hidden;
}

@media screen and (max-width: 600px) {
    #menu {
        visibility: visible;
        position: relative;
    }
    .contenedor-navegacion {
        padding-top: 1rem;
        border-top: none;
    }

    .nav-principal {
        background-color: #645606fb;
        width: 100%;
        list-style: none;
        height: 80%;
        position: absolute;
        top: 10rem;
        right: 100%;
        transition: all 300ms linear;
        z-index: 2;
        display: flex;
        text-align: center;
        flex-direction: column;
    }

    .nav-principal a {
        color: #fff;
        border-bottom: 1px solid #fff;
        
    }

    input#menu:checked~ul {
        right: 0;
    }

}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 2.5rem;
    }

    .nav-principal {
        top: 11rem;
    }
}
/*slider*/
.box{
    position: relative;
}
.slider{
    text-align: center;
    padding: 150px 50px;
    background-size: cover;
    color: #fff;
    font-family:sans-serif ;
    height:50px;
    width:100%;
}
.slider h1{
    font-size: 40px;
}
.slider p{
    font-size: 18px;
}
.img1{
    background-image:url(../img/batman.jpg) ;
    background-size: cover;
    display: none;
}
.img2{
    background-image: url(/img/endgame.jpg);
    display: none;
}
.img3{
    background-image: url(/img/infinity.jpg);
    display: none;
}
.img4{
    background-image: url(/img/lina.jpg);
    display: none;
}
.img5{
    background-image: url(/img/sonic.jpg);
    display: none;
}
.img6{
    background-image: url(/img/uncharted.jpg);
    display: none;
}
button{

    background-color: #f5f235;
    padding: 5px 50px;
    border: initial;
    cursor: pointer;
    border-radius: 5px;
}
.boton{
    position: absolute;
    top: 40%;
    font-size: 40pt;
    color: #e1e1e1;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0px 10px;
    border-radius: 50%;
}
.boton:hover{
    background-color: rgba(234, 240, 230, 0.733);
    transition: .5s;
    color: black;
}
.derecha{
    right: 10px;
}
.izquierda{
    left: 10px;
}
/*pagina*/
.pagina{
    position: absolute;
    bottom: 10px;
    left: 0px;
    right: 0px;
    text-align: center;
}
.pagina li{
    list-style: none;
    width: 25px;
    height: 25px;
    background-color: yellow;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}
.pagina li:hover{
    background-color:#645606fb;
    transition: .5s;
}
/*
cuerpo
*/
.titulo{
    text-align: center;
    margin-top: 5rem;
}
.cuerpo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.img{
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    margin: 10px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.img img{
    width: 100%;
    transition: all 500ms ease-out;
}
.texto{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(66, 70, 71, 0.7);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    color: #e1e1e1;
    padding-top: 10rem;
}
.texto p{
    padding-bottom: 2rem;
}
.img:hover > .texto{
    opacity: 1;
    visibility: visible;
}
@media (max-width:768px){
    .cuerpo{
        display: block;
        width: 100%;
        position: relative;
    }
}

/*cuerpo 2.0*/
.displa{
    text-align: center;
    display: flex;
}
.cine{
    width: 20rem;
    height: 35rem;
    margin-left: 10rem;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
.bienvenido{
    width: 35rem;
    height: 15rem;
    padding-top: 5rem;
    margin-top: 100px;
    margin-left: 20rem;
    -webkit-box-shadow: 22px 23px 0 -12px #6c7405;
}
.bienvenido h2{
    font-size: 3.5rem;
    text-align: left;
}
.bienvenido h2 span{
    color: #f5f235;
}
@media (max-width:768px){
    .displa{
        margin-top: 60rem;
        display: block;
        width: auto;
        position: relative;
    }
    .cine{
        margin-left: 0;
        box-shadow: none;
        width: auto;
        height: auto;
    }
    .bienvenido{
        margin-left: 0;
        margin-top: 0;
        -webkit-box-shadow:none;
        width: auto;
        height: auto;
    }
    .cine img{
        width: 250px;
        height: 250px;
        
    }
}
@media (min-width:1280px){
    .displa{
        margin-left:-10rem;
    }
}


